<% @links = Link.all %>

<% @links.each do |link| %>
  <p>
    <%= link_to("#{link.name}", "#{link.URL}") %><br>
    ID:<%= link.user_ID %><br>
    PW:<%= link.pass %><br>
    最終更新者:<%= link.last_update_user %><br>
    最終更新日:<%= link.updated_at.strftime("%Y-%m-%d") %><br>
    <% if session[:user] %>
      <%= link_to("編集", "/link/#{link.id}/edit") %>
      <%= link_to("削除", "/link/#{link.id}/destroy", method: :post, data: {confirm: "削除しますか"}) %>
    <% end %>
  </p>
<% end %>

<% if session[:user] %>
  <%= form_tag("/link/link_new") do %>
    <div>
      <div>
        <a>サイト名</a>
      </div>
      <div>
        <input name="name"><br>
      </div>
    </div>
    <div>
      <div>
        <a>URL</a>
      </div>
      <div>
        <input name="url"><br>
      </div>
    </div>
    <div>
      <div>
        <a>ID</a>
      </div>
      <div>
        <input name="userid"><br>
      </div>
    </div>
    <div>
      <div>
        <a>PASS</a>
      </div>
      <div>
        <input name="pass"><br>
      </div>
    </div>
    <input type="submit" value="登録">
  <% end %>
<% end %>